<!DOCTYPE html>
<html>
<head><title>Редагування тварини</title></head>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<body>
<h2>Редагувати тварину</h2>
<form method="POST">
    Ім’я: <input type="text" name="name" value="{{ animal.name }}" required><br>
    Тип:
    <select name="type">
        <option value="bird" {% if animal.type == 'bird' %}selected{% endif %}>Птах</option>
        <option value="reptile" {% if animal.type == 'reptile' %}selected{% endif %}>Рептилія</option>
        <option value="other" {% if animal.type == 'other' %}selected{% endif %}>Інше</option>
    </select><br>
    Дата народження: <input type="date" name="birth_date" value="{{ animal.birth_date }}"><br>
    Місце існування:
    <select name="habitat_id">
        {% for habitat in habitats %}
            <option value="{{ habitat.habitat_id }}" {% if habitat.habitat_id == animal.habitat_id %}selected{% endif %}>
                {{ habitat.name }}
            </option>
        {% endfor %}
    </select><br>
    Раціон:
    <select name="diet_id">
        {% for diet in diets %}
            <option value="{{ diet.diet_id }}" {% if diet.diet_id == animal.diet_id %}selected{% endif %}>
                {{ diet.name }}
            </option>
        {% endfor %}
    </select><br>
    Доглядач:
    <select name="caretaker_id">
        {% for employee in employees %}
            <option value="{{ employee.employee_id }}" {% if employee.employee_id == animal.caretaker_id %}selected{% endif %}>
                {{ employee.full_name }}
            </option>
        {% endfor %}
    </select><br>
    Ветеринар:
    <select name="vet_id">
        {% for vet in veterinarians %}
            <option value="{{ vet.vet_id }}" {% if vet.vet_id == animal.vet_id %}selected{% endif %}>{{ vet.full_name }}</option>
        {% endfor %}
    </select><br>
    <button type="submit">Зберегти</button>
</form>
<a href="{{ url_for('index') }}" class="btn-home">На головну</a>
</body>
</html>