<!DOCTYPE html>
<html>
<head>
    <title>Zoo Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Zoo Management System</h1>
<ul>
    <li><a href="/employees">Працівники</a></li>
    <li><a href="/animals">Пошук тварин</a></li>
    <li><a href="/all_animals">Список всіх тварин</a></li>
    <li><a href="/families">Сімейні працівники</a></li>
    <li><a href="/diets">Тварини та їх раціони</a></li>
    <li><a href="/all_habitats">Всі тварини та їх регіони</a></li>
    <li><a href="/add_animal">Додати нового тварину</a></li>
    <li><a href="/add_family">Додати нову сімейну пару</a></li>
</ul>
</body>
</html>